.header{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  height: 70px;
  background-color: #000000;


}

.nav-bar ul{
  display:flex;
  margin: 0;
  padding:0;
  list-style: none;
}
.nav-bar a{
  color: white;
  font-weight: 900;
  font-size: 20px;
  text-decoration:none;
  padding: 1rem;
}

.nav-bar a:hover{
  color: rgb(255, 225, 76);
}
.nav-bar{
 margin: 10vw;

}

.logo{
  margin: 10px;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  font-family: Impact, Haettenschweiler;
  font-size: 30px;


}
