<br>
<div class="mat-card-crv">
<mat-card class="example-card">
  <mat-card-title>{{blog?.title}}</mat-card-title>
  <img mat-card-sm-image src="https://th.bing.com/th/id/OIP.EZdok21TLP1NJMtpP9PpZwHaDg?pid=ImgDet&w=1900&h=899&rs=1" >
  <mat-card-subtitle>Author: {{blog?.author}}</mat-card-subtitle>
  
  <mat-card-content>{{blog?.description}}</mat-card-content>
  <mat-card-content>Comments: {{blog?.comments}}</mat-card-content>
  <mat-divider inset></mat-divider>
    
    
    <mat-card-actions>
      <button class ="btn" (click) = "edit()"  routerLink = "/blog/form">Edit</button>
      <button class = "btn" (click) = "delete()">Delete</button>
    </mat-card-actions>
  <mat-card-footer>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
  </div>
  